html,
body{
  width: 100%;
  height: 100%;
}

/*##### BASICINFO SECTION #####*/

.basic-info {
  margin-bottom: 30px;
}

.basic-info .content {
  margin-top: 30px;
}

#info-box {
  margin-top: 40px;
}

#selfie>img {
  height: 260px;
  width: 260px;
}

#contact {
  margin-top: 30px;
}

#contact>address {
  padding-top: 16px;
}

/*##### PORTFOLIO SECTION #####*/

.portfolio {
  background: #f9f9f9;
  padding: 40px 0;
}

.content h1 {
  color: #3c3c3c;
  font-size: 2em;
  margin-bottom: 30px;
}

.projects {
  width: 100%;
}

.project {
  margin-bottom: 50px;
}

.project:last-child {
  margin-bottom: 0;
}

.project-img {
  margin: 0 30px;
}

.project-name {
  color: #3c3c3c;
  padding: 10px 0;
}

.project-description{
  color: #444;
  margin-left: 10%;
  margin-right: 10%;
}

/*##### CONTACT SECTION #####*/

.contact {
  padding: 30px 0;
}

.socials {
  list-style-type: none;
  width: 100%;
}

.social {
  width: 25%;
  float: left;
  text-align: center;
}

i {
  color: #1992F5;
  font-size: 27px !important;
}

.zhihu-img {
  background-position: 0 -27px;
  width: 25px;
  height: 25px;
  background-image: url("./img/sprites.png");
  background-repeat: no-repeat;
}

.clear{
  clear:both;
}

/* ############################
        RESPONSIVENESS
############################### */

@media screen and (max-width: 767px) {
  #info-box {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    display: inline-flex;
  }

  #name-and-role {
    width: 50%;
  }

  #contact {
    width: 50%;
    margin-top: 0;
    padding-top: 30px;
    text-align: left;
  }

  .portfolio {
    padding-top: 0;
  }
}